<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EH_SETTINGS_SERVER_PROTOCOL</key>
	<string>https</string>
	<key>EH_SETTINGS_SERVER_HOST</key>
	<string>easy-help-backend.herokuapp.com</string>
</dict>
</plist>
